body {
    background: white;
    padding: 0;
    margin: 0;
}

/*headerのデザイン*/

.header {
    display: flex;
    height: 5vw;
    width: 100vw;
    background: linear-gradient(to right, skyblue, purple)
}

.pageLink {
    display: flex;
    justify-content: flex-end;
}

.horizontal {
    height: 5vw;
    width: 5vw;
    margin: 2vw;
}