.Dnews {
    display: flex;
    flex: auto;
    position: relative;
    width: 100vw;
    height: 27vw;
}

.newsBox {
    display: flex;
    position: relative;
    width: 48vw;
    height: 27vw;
    margin: 0;
}

.news1{
    background: url(../Picture/IMG_1697.PNG);
    background-position: center;
    background-size: cover;
}

.news2{
    background: url(../Picture/IMG_1698.PNG);
    background-position: center;
    background-size: cover;
}

.news3{
    background: url(../Picture/IMG_1699.PNG);
    background-position: center;
    background-size: cover;
}

.ContentBox {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 96vw;
    height: 140vw;
}

.VerticalBox {
    display: flex;
    flex: auto;
    width: 40vw;
    height: 30vw;
    background-color: blue; 
}